<div class="success">
    <div class="container">
        <div class="col-xl-6  col-lg-8 mx-auto">
            <div class="success__box text-center">

                <div class="heading">
                    <h1>
                        شكرا للتسجيل
                    </h1>
                </div>
                <div class="description mt-20">

                    سوف تتم مراسلتك من قبل اللجنة سنتواصل معك قريبا
                </div>
                  <a asp-action="Index" asp-controller="Home">
                <button class="btn btn-primary w-100 text-white mt-30">
                    موافق
                </button>
                </a>

            </div>

        </div>

    </div>

</div>