<div class="success">
    <div class="container">
        <div class="col-lg-6 mx-auto">
            <div class="success__box text-center">
                <div class="heading">
                    <h1>
                        Thank you for your signing up
                    </h1>
                </div>
                <div class="description mt-20">

                    You can expect to hear from our committee We will contact you soon
                </div>
                <a asp-action="Index" asp-controller="Home">
                    <button class="btn btn-primary w-100 text-white mt-30">
                        Agree
                     </button>
                </a>

            </div>

        </div>

    </div>

</div>